body {
  background: rgb(33, 37, 43);

  color: rgb(171, 178, 191);
	font-family: Arial;
}

/*-------------------------------------
---------------------------------------
-----------------TIMER-----------------
---------------------------------------
-------------------------------------*/

#timer {
	background-color: rgb(74, 82, 96);
	border-bottom-color: rgb(128, 128, 128);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: rgb(128, 128, 128);
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: rgb(128, 128, 128);
	border-right-style: solid;
	border-right-width: 2px;
	border-top-color: rgb(128, 128, 128);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-style: solid;
	border-top-width: 2px;
	display: block;
	font-size: 36px;
	font-weight: bold;
	height: 41px;
	margin-bottom: 20px;
	margin-left: 138.5px;
	margin-right: 138.5px;
	text-align: center;
	width: 400px;
}


/*---------------------------------------
-----------------------------------------
-----------------BUTTONS-----------------
-----------------------------------------
---------------------------------------*/

	#startButton, #startButton:hover, #pauseButton, #pauseButton:hover, #clearButton,
	#clearButton:hover {
		-webkit-appearance: none;
		-webkit-user-select: none;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 5px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: inline-block;
		font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
		font-size: 15px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		height: 34px;
		line-height: 20px;
		margin-right: 0.5%;
		padding-bottom: 6px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		position: relative;
		text-decoration: none;
		text-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px;
		vertical-align: middle;
		white-space: nowrap;
		width: 10%;
		word-wrap: break-word;

	}

	#pauseButton, #clearButton {
		display: none;

		background-color: rgb(215, 0, 0);
	}

	#pauseButton:hover, #clearButton:hover {
		background-image: linear-gradient(rgb(205, 0, 0), rgb(155, 0, 0));
	}

	/*-----------------------
	-------START BUTTON------
	-----------------------*/

	#startButton {
		background-image: linear-gradient(rgb(118, 201, 89), rgb(76, 156, 48));
	}

	#startButton:hover {
		background-image: linear-gradient(rgb(101, 196, 68), rgb(66, 138, 41));
	}
