/*-------------------------------------
---------------------------------------
-----------------TIMER-----------------
---------------------------------------
-------------------------------------*/

#timer {
	background-color: rgb(240, 240, 240);
	color: rgb(0, 0, 0);
}


/*---------------------------------------
-----------------------------------------
-----------------BUTTONS-----------------
-----------------------------------------
---------------------------------------*/

	#startButton, #startButton:hover, #pauseButton, #pauseButton:hover, #clearButton,
	#clearButton:hover {
		border-radius: 3px;
		border: 1px solid grey;
	}

	#pauseButton, #clearButton {
		background-color: rgb(255, 0, 0);
	}

	#pauseButton:hover, #clearButton:hover {
		background-image: linear-gradient(rgb(245, 0, 0), rgb(195, 0, 0));
	}

	/*-----------------------
	-------START BUTTON------
	-----------------------*/

	#startButton {
		background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68));
	}

	#startButton:hover {
		background-image: linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61));
	}
